body{
    background-color: rgba(36, 53, 46, 0.473);
    font-family: 'Times New Roman', Times, serif;
}
.topnav {
    background-color: rgba(36, 53, 46, 0.473);
    overflow: hidden;
    width: 100% !important;
    display: inline-flex;
    position: relative;
}
.topnav a {
    color: #fff;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 18px;
}
.topnav a:hover {
    color: rgb(68, 125, 158);
}
.logo > img{
    flex-direction: row;
    border-radius:40px !important;
  }